@inject ContentService contentService;
<html>

<head>
    <title>DominicoBús</title>
    <base href="~/" />
    <link rel="icon" type="image/x-icon" href="icons/logo.ico">
    <link rel="stylesheet" href="styles/pico.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/pico.colors.css">
    <link rel="stylesheet" href="styles/pure.min.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="scripts/blazor_htmx.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <header x-data="{isOpen: false}">
        <div class="container pure-g">
            <button @@click="isOpen = !isOpen" class="outline">
                <i class="bx bx-menu"></i>
            </button>
            <a href="/" class="pure-menu-heading">
                <b>
                    <span>DominicoBús</span>
                </b>
                <i class="bx bx-bus"></i>
            </a>
        </div>
        <hr>
        <nav x-cloak x-show="isOpen" class="container dominco_bus-menu">
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="/buses" class="pure-menu-link">@contentService.GetContent("menu", "buses")</a>
                </li>
                <li class="pure-menu-item">
                    <a href="/users" class="pure-menu-link">@contentService.GetContent("menu", "users")</a>
                </li>
                <li class="pure-menu-item">
                    <a href="" class="pure-menu-link">@contentService.GetContent("menu", "routes")</a>
                </li>
                <li class="pure-menu-item">
                    <a href="" class="pure-menu-link">@contentService.GetContent("menu", "stops")</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="container">
        @RenderBody()
    </main>
    <footer class="container">
        <hr>
        <small>
            DominicoBús &copy;
            @DateTime.Now.Year
        </small>
    </footer>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
